{% extends "homepage/base.html" %}

{% block content %}

<h1 class="text-dark">Welcome</h1>
<p class="text-dark">
    welcome to inaba's portfolio site !<br> 
    This site is written in Django.
</p>
<div container>
    <div class="row">
        <div class="col-md-12 ">
            <div class="card md-5 " style="background: rgba(255, 255, 255, 0.6);">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ myinfo.picture.url }}" class="card-img mb-2">
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group" >
                                <li class="list-group-item">{{ myinfo.name }}
                                <li class="list-group-item">{{ myinfo.selling_point }}</li>
                                <li class="list-group-item">Twitter : <a href="{{ myinfo.twitter }}">{{ myinfo.twitter }}</a><br>
                                GitHub : <a href="{{ myinfo.github }}">{{ myinfo.github }}</a></li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-text">ああああ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
