{% extends "homepage/base.html" %}

{% block script %}
{% load static %}
<style type="text/css"> .jumbotron { background:url({% static 'homepage/IMG_4045.JPG' %}) center no-repeat; background-size: cover;}</style>
{% endblock %}

{% block content %}
<p>This is top-page</p>
<h2>BLOG</h2>
<h2>WORKS</h2>
<div class="row">
    <div class="col-md-12 ">
        <div class="jumbotron">
            <div class="container">
                <h1>ようこそ</h1>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}