{% extends "homepage/base.html" %}

{% block content %}

<h1 class="text-dark">Welcome</h1>
<p class="text-dark">
    Welcome to inaba's portfolio site !<br> 
    This site is written in Django.
</p>
<div container>
    <div class="row">
        <div class="col-md-12 ">
            <div class="card md-5 " style="background: rgba(255, 255, 255, 0.6);">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ myinfo.picture.url }}" class="card-img mb-2">
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group" >
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2">Name : </div>
                                            <div class="col-md-10">{{ myinfo.name }}</div>
                                        </div>
                                    </div>
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2">Skill : </div>
                                            <div class="col-md-10">{{ myinfo.selling_point }}</div>
                                        </div>
                                    </div>
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-2">Twitter : </div>
                                            <div class="col-md-10"><a href="{{ myinfo.twitter }}">{{ myinfo.twitter }}</a></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">GitHub : </div>
                                            <div class="col-md-10"><a href="{{ myinfo.github }}">{{ myinfo.github }}</a></div>
                                        </div>
                                    </div>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group mt-3">
                                <li class="list-group-item">
                                    <p class="card-text ">{{ myinfo.detail}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="text-dark mt-5">Works</h1>
<p class="text-dark">
    I'd like to make lots of Web-applications !
</p>


<h1 class="text-dark mt-5">Blogs</h1>
<p class="text-dark">
    I want to know the new values ​​and expressions.<br>
</p>


{% endblock %}
